{% comment %} Lógica de puntos de ruptura y equivalencias {% endcomment %}
{%- render 'breakpoints', section: section -%}

{%- if section.index > 2 -%}
  <link rel="stylesheet" href="{{ 'featured-collection.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
{%- else -%}
  {{ 'featured-collection.css' | asset_url | stylesheet_tag }}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if settings.card_hover_action == 'slideshow' -%}
  <script src="{{ 'product-card-image-slider.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'variant-picker.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom-select.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  assign product_slider_mobile = ''
  assign product_slider_tablet_sm = ''
  assign product_slider_tablet_lg = ''
  assign product_slider_portrait = ''
  assign product_slider_large = ''
  assign product_slider_large_xl = ''
  assign product_slider_large_xxl = ''
  
  if section.settings.enable_custom_col_products_xxl != false
    assign product_slider_large_xxl = product_slider_large_xxl | append: section.settings.products_slider_large_xxl
  else
    assign product_slider_large_xxl = product_slider_large_xxl | append: settings.products_slider_large_xxl
  endif 

  if section.settings.enable_custom_col_products_xl != false
    assign product_slider_large_xl = product_slider_large_xl | append: section.settings.products_slider_large_xl
  else
    assign product_slider_large_xl = product_slider_large_xl | append: settings.products_slider_large_xl
  endif 

  if section.settings.enable_custom_col_products_large != false
    assign product_slider_large = product_slider_large | append: section.settings.products_slider_large
  else
    assign product_slider_large = product_slider_large | append: settings.products_slider_large
  endif 

  if section.settings.enable_custom_col_products_portrait != false
    assign product_slider_portrait = product_slider_portrait | append: section.settings.products_slider_portrait
  else
    assign product_slider_portrait = product_slider_portrait | append: settings.products_slider_portrait
  endif 

  if section.settings.enable_custom_col_products_tablet_lg != false
    assign product_slider_tablet_lg = product_slider_tablet_lg | append: section.settings.products_slider_tablet_lg
  else
    assign product_slider_tablet_lg = product_slider_tablet_lg | append: settings.products_slider_tablet_lg
  endif 

  if section.settings.enable_custom_col_products_tablet_sm != false
    assign product_slider_tablet_sm = product_slider_tablet_sm | append: section.settings.products_slider_tablet_sm
  else
    assign product_slider_tablet_sm = product_slider_tablet_sm | append: settings.products_slider_tablet_sm
  endif 

  if section.settings.enable_custom_col_products_mobile != false
    assign product_slider_mobile = product_slider_mobile | append: section.settings.products_slider_mobile
  else
    assign product_slider_mobile = product_slider_mobile | append: settings.products_slider_mobile
  endif 
-%}


{% assign carousel_slider = '' %}
{% assign carousel_slider = carousel_slider | append: ' grid-flow-col sm:auto-cols-' | append: product_slider_mobile %}
{% assign carousel_slider = carousel_slider | append: ' md:auto-cols-' | append: product_slider_mobile %}
{% assign carousel_slider = carousel_slider | append: ' lg:auto-cols-' | append: product_slider_tablet_sm %}
{% assign carousel_slider = carousel_slider | append: ' xl:auto-cols-' | append: product_slider_portrait %}
{% assign carousel_slider = carousel_slider | append: ' xxl:auto-cols-' | append: product_slider_large %}
{% assign carousel_slider = carousel_slider | append: ' xxxl:auto-cols-' | append: product_slider_large_xl %}
{% assign carousel_slider = carousel_slider | append: ' ultra:auto-cols-' | append: product_slider_large_xxl %}
{% assign carousel_slider = carousel_slider | append: ' small-cards-desktop' %}

{% assign carousel_slider_on_mobile = '' %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' grid-flow-col sm:auto-cols-' | append: product_slider_mobile %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' md:grid-cols-' | append: product_slider_mobile %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' lg:grid-cols-' | append: product_slider_tablet_sm %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' xl:grid-cols-' | append: product_slider_portrait %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' xxl:grid-cols-' | append: product_slider_large %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' xxxl:grid-cols-' | append: product_slider_large_xl %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' ultra:grid-cols-' | append: product_slider_large_xxl %}
{% assign carousel_slider_on_mobile = carousel_slider_on_mobile | append: ' small-cards-desktop' %}

{% assign grid_cols = '' %}
{% assign grid_cols = grid_cols | append: ' sm:grid-cols-' | append: product_slider_mobile %}
{% assign grid_cols = grid_cols | append: ' md:grid-cols-' | append: product_slider_mobile %}
{% assign grid_cols = grid_cols | append: ' lg:grid-cols-' | append: product_slider_tablet_sm %}
{% assign grid_cols = grid_cols | append: ' xl:grid-cols-' | append: product_slider_portrait %}
{% assign grid_cols = grid_cols | append: ' xxl:grid-cols-' | append: product_slider_large %}
{% assign grid_cols = grid_cols | append: ' xxxl:grid-cols-' | append: product_slider_large_xl %}
{% assign grid_cols = grid_cols | append: ' ultra:grid-cols-' | append: product_slider_large_xxl %}
{% assign grid_cols = grid_cols | append: ' small-cards-desktop' %}


{%- liquid
  assign collection = section.settings.collection

  if section.settings.card_size_mobile == 'small'
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-2 small-cards-mobile'
    assign grid_mobile_cols = 'grid-cols-2 small-cards-mobile'
  else
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-1'
    assign grid_mobile_cols = 'grid-cols-1'
  endif

  if section.settings.layout == 'carousel'
    assign carousel = true

    if section.settings.show_promo_info
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider
      else
        assign grid_classes = carousel_mobile_cols | append: carousel_slider
      endif
    else
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider
      else
        assign grid_classes = carousel_mobile_cols | append: carousel_slider
      endif
    endif
  elsif section.settings.layout == 'carousel_on_mobile'
    assign carousel = true

    if section.settings.show_promo_info
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider_on_mobile
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider_on_mobile
      else
        assign grid_classes = carousel_mobile_cols | append: carousel_slider_on_mobile
      endif
    else
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider_on_mobile
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: carousel_slider_on_mobile
      else
        assign grid_classes = carousel_mobile_cols | append: carousel_slider_on_mobile
      endif
    endif
  elsif section.settings.layout == 'grid'
    assign carousel = false

    if section.settings.show_promo_info
      if section.settings.card_size == 'small'
        assign grid_classes = grid_mobile_cols | append: grid_cols
      elsif section.settings.card_size == 'medium'
        assign grid_classes = grid_mobile_cols | append: grid_cols
      else
        assign grid_classes = grid_mobile_cols | append: grid_cols
      endif
    else
      if section.settings.card_size == 'small'
        assign grid_classes = grid_mobile_cols | append: grid_cols
      elsif section.settings.card_size == 'medium'
        assign grid_classes = grid_mobile_cols | append: grid_cols
      else
        assign grid_classes = grid_mobile_cols | append: grid_cols
      endif
    endif
  endif

  if settings.prod_card_image_ratio == 'shortest'
    assign image_ratio = 0
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio > image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  elsif settings.prod_card_image_ratio == 'tallest'
    assign image_ratio = 99
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio < image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  else
    assign image_ratio = settings.prod_card_image_ratio
  endif

  assign color_scheme = section.settings.color_scheme
  assign bg_color = false

  if color_scheme == 'default'
    assign bg_color = settings.bg_color
  elsif color_scheme == '1'
    assign bg_color = settings.color_scheme_1_bg_grad | default: settings.color_scheme_1_bg
  elsif color_scheme == '2'
    assign bg_color = settings.color_scheme_2_bg_grad | default: settings.color_scheme_2_bg
  elsif color_scheme == '3'
    assign bg_color = settings.color_scheme_3_bg_grad | default: settings.color_scheme_3_bg
  endif

  if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
    assign bg_color = false
  endif
-%}

{%- capture slider_arrows -%}
  <div class="slider-nav absolute top-middle end {% if settings.slider_show_arrows == 'hover' %}slider-nav--show-on-hover no-hover-hidden {% endif %}hidden md:block no-js-hidden">
    <button type="button" class="slider-nav__btn tap-target btn {{ settings.slider_button_style }} has-ltr-icon" name="next" aria-controls="slider-{{ section.id }}">
      <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
      {% render 'icon-chevron-right' %}
    </button>
    <button type="button" class="slider-nav__btn tap-target btn {{ settings.slider_button_style }} has-ltr-icon" name="prev" aria-controls="slider-{{ section.id }}">
      <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
      {% render 'icon-chevron-left' %}
    </button>
  </div>
{%- endcapture -%}

{% render 'grid-gap', section: section %}
<div class="section-wrapper-cc {% render 'grid-breakpoints', section: section %}">
  <div class="section-customize">
    <div class="section section-{{ section.id }}">
      {%- if section.settings.title != blank or section.settings.show_view_all -%}
        <div class="container">
          <div
            class="section__header items-center flex{% if section.settings.heading_align == 'text-center' %} flex-col text-center{% elsif section.settings.heading_align == 'text-end' %} flex-row-reverse flex-wrap{% else %} flex-row flex-wrap{% endif %} gap-x-theme"
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate
            {% endif %}
          >
            {%- if section.settings.title != blank -%}
              <h2 class="h4 mb-0 flex-auto section__heading {{ section.settings.heading_align }}">
                {{- section.settings.title | escape -}}
              </h2>
            {%- endif -%}

            {%- if section.settings.show_view_all -%}
              <a href="{{ collection.url }}" class="link">{{ 'sections.featured_collection.view_all' | t }}</a>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      {%- if section.settings.show_promo_info -%}
        <div
          class="featured-collection-container relative w-full mx-auto"
          {% if section.settings.image_ratio == 'fill'
            and section.settings.layout != 'carousel'
            and section.settings.image
          %}
            data-css-var-height=".card--product"
          {% endif %}
        >
          <div class="flex flex-col md:flex-row">
            <div
              class="featured-collection-info mb-6 md:mb-0 flex shrink-0 flex-col{% if section.settings.layout == 'carousel' %} featured-collection-info--carousel items-stretch{% endif %}"
              {% if settings.animations_enabled != 'disabled' %}
                data-cc-animate
              {% endif %}
            >
              {%- if section.settings.layout == 'grid' or section.settings.layout == 'carousel_on_mobile' -%}
                <div
                  class="featured-collection--sticky{% if section.settings.image_ratio == 'fill' and section.settings.layout != 'carousel' and section.settings.image %} featured-collection--sticky-fill flex flex-col{% endif %}"
                >
              {% endif %}

              {% if section.settings.image %}
                {%- liquid
                  assign image_ratio_int = section.settings.image_ratio
                  if image_ratio_int == 'natural' or image_ratio_int == 'fill'
                    assign image_ratio_int = section.settings.image.aspect_ratio
                  endif

                  assign image_fill = false
                  if section.settings.image_ratio == 'fill'
                    assign image_fill = true
                  endif
                -%}

                <div class="featured-collection-image{% if image_fill %} h-full{% endif %}">
                  {% if section.settings.link_url %}
                    <a
                      href="{{ section.settings.link_url }}"
                      aria-label="{{ section.settings.promo_title | escape }}"
                      class="media block relative w-full{% if image_fill %} h-full md:pt-0{% endif %}"
                      style="padding-top: {{ 1 | divided_by: image_ratio_int | times: 100 }}%;"
                    >
                  {%- else -%}
                    <div
                      class="media relative w-full{% if image_fill %} h-full{% if carousel %} md:pt-0{% endif %}{% endif %}"
                      style="padding-top: {{ 1 | divided_by: image_ratio_int | times: 100 }}%;"
                    >
                  {%- endif -%}

                  {% render 'image',
                    image: section.settings.image,
                    widths: '320, 460, 600, 700, 800, 900, 1200',
                    src_width: 460,
                    sizes: false,
                    class: 'img-fit img-fit--cover'
                  %}

                  {%- if section.settings.link_url -%}
                    </a>
                  {%- else -%}
                    </div>
                  {%- endif -%}
                </div>
              {% endif %}

              {%- if section.settings.promo_title != blank
                or section.settings.content != blank
                or section.settings.button_label != blank
              -%}
                <div class="featured-collection-text{% unless section.settings.image.aspect_ratio == "fill" %} flex flex-col grow{% endunless %}{% if bg_color %} p-6{% else %} mt-6{% endif %}{% unless color_scheme == 'none' %} color-scheme color-scheme--{{ color_scheme }}{% endunless %}">
                  {%- unless section.settings.promo_title == blank -%}
                    <h2 class="h4 section__heading">{{ section.settings.promo_title }}</h2>
                  {%- endunless -%}

                  <div class="grow">
                    {%- if section.settings.content != blank -%}
                      <div class="rte">{{ section.settings.content }}</div>
                    {%- endif -%}
                  </div>

                  {%- if section.settings.button_label != blank -%}
                    <a
                      class="{{ section.settings.button_style }} block mt-8 w-full"
                      {% if section.settings.link_url != blank %}
                        href="{{ section.settings.link_url }}"
                      {% else %}
                        role="link"aria-disabled="true"
                      {% endif %}
                    >
                      {{- section.settings.button_label | escape -}}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if section.settings.layout == 'grid' or section.settings.layout == 'carousel_on_mobile' -%}
                </div>
              {%- endif -%}
            </div>
      {%- endif -%}

      {%- if carousel -%}
        <carousel-slider
          class="carousel block{% if section.settings.show_promo_info %} grow{% endif %}"
          inactive
          {% if section.settings.layout == 'carousel_on_mobile' %}
            disable-desktop="true"
          {% endif %}
        >
          <div class="{% unless section.settings.show_promo_info %}container relative{% endunless %} featured-collection-products">
            <div class="slider" id="slider-{{ section.id }}">
      {%- endif -%}

      <div class="container products-grid-container shrink-0">
        <ul
          class="{% if carousel %}slider__grid {% endif %}grid {{ grid_classes }}{% if section.settings.layout == 'carousel_on_mobile' and section.settings.card_size_mobile == 'small' and settings.card_contain %} sm:gap-x-theme sm:gap-y-8{% else %} gap-x-theme gap-y-8{% endif %}{% if section.settings.card_size_mobile == 'small' and settings.card_contain %} small__grid{% endif %}"
          role="list"
        >
          {%- if collection != blank -%}
            {%- for product in collection.products limit: section.settings.products_to_show -%}
              <li
                {% if carousel %}
                  class="slider__item"
                {% endif -%}
                {% if settings.animations_enabled != 'disabled' %}
                  data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
                {% endif %}
              >
                {% render 'product-card',
                  product: product,
                  collection: collection,
                  image_ratio: image_ratio,
                  show_highlight_product: section.settings.show_highlight_products
                %}
              </li>
            {%- endfor -%}
          {%- else -%}
            {%- for i in (1..section.settings.products_to_show) -%}
              <li
                {% if carousel %}
                  class="slider__item"
                {% endif -%}
                {% if settings.animations_enabled != 'disabled' %}
                  data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
                {% endif %}
              >
                {% render 'product-card',
                  product: '',
                  image_ratio: image_ratio,
                  show_highlight_product: section.settings.show_highlight_products
                %}
              </li>
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>

      {%- if carousel -%}
        </div>

        {%- if settings.slider_show_arrows != 'never' and section.settings.show_promo_info == false -%}
          {{ slider_arrows }}
        {%- endif -%}
        </div>

        {%- if settings.slider_show_arrows != 'never' and section.settings.show_promo_info -%}
          {{ slider_arrows }}
        {%- endif -%}
        </carousel-slider>
      {%- endif -%}
      {%- if section.settings.show_promo_info -%}
        </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "class": "cc-featured-collection cc-product-card-grid",
  "settings": [
    {
      "type": "header",
      "content": "Configuración escritorio grande",
      "info": "Configuración para vista en escritorio grande, dejar en blanco o vacío para usar valores por defecto"
    },
    {
      "type": "select",
      "id": "type_container_desktop_lg",
      "label": "Tipo de contendor en escritorio grande",
      "options": [
        {
          "value": "full_width",
          "label": "Ancho completo"
        },
        {
          "value": "box",
          "label": "Caja"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_width"
    },

    {
      "type": "checkbox",
      "id": "grid_custom_desktop_xxl",
      "label": "Activar configuraciones custom de grid para escritorio grande",
      "default": false
    },
    {
      "type": "range",
      "id": "size_grid_desktop_xxl",
      "label": "Cantidad de columnas del contenedor",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "range",
      "id": "size_grid_quantity_desktop_xxl",
      "label": "Cantidad de columnas a utilizar",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "number",
      "id": "gap_grid_desktop_xxl",
      "label": "Espaciado entre columns en escritorio grande",
      "default": 24
    },
    {
      "type": "select",
      "id": "align_grid_desktop_xxl",
      "label": "Posicion del contenido del grid en escritorio grande",
      "options": [
        {
          "label": "Izquierda",
          "value": "left"
        },
        {
          "label": "Centrado",
          "value": "center"
        },
        {
          "label": "Derecha",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "label": "Activar configuración custom de columnas para productos",
      "id": "enable_custom_col_products_xxl",
      "default": false
    },
    {
        "type": "range",
        "id": "products_slider_large_xxl",
        "label": "Cant. de columnas productos",
        "min": 3,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 4
    },
    {
      "type": "header",
      "content": "Tamaño minímo del contenedor",
      "info": "Dejar vacío para activar el valor por defecto"
    },
    {
      "type": "number",
      "id": "min_width_desktop_lg",
      "label": "Ancho minímo para escritorio grande",
      "info": "El ancho minímo que establezcas aquí solo sera visible si el contenedor es de tipo 'caja'"
    },
    {
      "type": "radio",
      "id": "width_desktop_lg_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Paddings para escritorio grande"
    },
    {
      "type": "radio",
      "id": "padding_desktop_lg_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "number",
      "id": "padding_top_desktop_lg",
      "label": "Padding top"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop_lg",
      "label": "Padding bottom"
    },
    {
      "type": "number",
      "id": "padding_left_desktop_lg",
      "label": "Padding left"
    },
    {
      "type": "number",
      "id": "padding_right_desktop_lg",
      "label": "Padding right"
    },
    {
      "type": "header",
      "content": "Margins para escritorio grande"
    },
    {
      "type": "radio",
      "id": "margin_desktop_lg_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top_desktop_lg",
      "label": "Margin top"
    },
    {
      "type": "text",
      "id": "margin_bottom_desktop_lg",
      "label": "Margin bottom"
    },
    {
      "type": "text",
      "id": "margin_left_desktop_lg",
      "label": "Margin left"
    },
    {
      "type": "text",
      "id": "margin_right_desktop_lg",
      "label": "Margin right"
    },
    {
      "type": "header",
      "content": "Configuración escritorio mediano",
      "info": "Configuración para vista en escritorio mediano, dejar en blanco o vacío para usar valores por defecto"
    },
    {
      "type": "select",
      "id": "type_container_desktop_md",
      "label": "Tipo de contendor en escritorio mediano",
      "options": [
        {
          "value": "full_width",
          "label": "Ancho completo"
        },
        {
          "value": "box",
          "label": "Caja"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_width"
    },{
      "type": "checkbox",
      "id": "grid_custom_desktop_md",
      "label": "Activar configuraciones custom de grid para escritorio mediano",
      "default": false
    },
    {
      "type": "range",
      "id": "size_grid_desktop_md",
      "label": "Cantidad de columnas del contenedor",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "range",
      "id": "size_grid_quantity_desktop_md",
      "label": "Cantidad de columnas a utilizar",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "number",
      "id": "gap_grid_desktop_md",
      "label": "Espaciado entre columns en escritorio mediano",
      "default": 24 
    },
    {
      "type": "select",
      "id": "align_grid_desktop_md",
      "label": "Posicion del contenido del grid en escritorio mediano",
      "options": [
        {
          "label": "Izquierda",
          "value": "left"
        },
        {
          "label": "Centrado",
          "value": "center"
        },
        {
          "label": "Derecha",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "label": "Activar configuración custom de columnas para productos",
      "id": "enable_custom_col_products_xl",
      "default": false
    },
    {
        "type": "range",
        "id": "products_slider_large_xl",
        "label": "Cant. de columnas productos",
        "min": 3,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 4
    },
    {
      "type": "header",
      "content": "Tamaño minímo del contenedor",
      "info": "Dejar vacío para activar el valor por defecto"
    },
    {
      "type": "number",
      "id": "min_width_desktop_md",
      "label": "Ancho minímo para escritorio mediano",
      "info": "El ancho minímo que establezcas aquí solo sera visible si el contenedor es de tipo 'caja'"
    },
    {
      "type": "radio",
      "id": "width_desktop_md_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Paddings para escritorio mediano"
    },
    {
      "type": "radio",
      "id": "padding_desktop_md_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "number",
      "id": "padding_top_desktop_md",
      "label": "Padding top"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop_md",
      "label": "Padding bottom"
    },
    {
      "type": "number",
      "id": "padding_left_desktop_md",
      "label": "Padding left"
    },
    {
      "type": "number",
      "id": "padding_right_desktop_md",
      "label": "Padding right"
    },
    {
      "type": "header",
      "content": "Margins para escritorio mediano"
    },
    {
      "type": "radio",
      "id": "margin_desktop_md_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top_desktop_md",
      "label": "Margin top"
    },
    {
      "type": "text",
      "id": "margin_bottom_desktop_md",
      "label": "Margin bottom"
    },
    {
      "type": "text",
      "id": "margin_left_desktop_md",
      "label": "Margin left"
    },
    {
      "type": "text",
      "id": "margin_right_desktop_md",
      "label": "Margin right"
    },
    {
      "type": "header",
      "content": "Configuración escritorio pequeño",
      "info": "Configuración para vista en escritorio pequeño, dejar en blanco o vacío para usar valores por defecto"
    },
    {
      "type": "select",
      "id": "type_container_desktop_sm",
      "label": "Tipo de contendor en escritorio pequeño",
      "options": [
        {
          "value": "full_width",
          "label": "Ancho completo"
        },
        {
          "value": "box",
          "label": "Caja"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_width"
    },{
      "type": "checkbox",
      "id": "grid_custom_desktop_sm",
      "label": "Activar configuraciones custom de grid para escritorio pequeño",
      "default": false
    },
    {
      "type": "range",
      "id": "size_grid_desktop_sm",
      "label": "Cantidad de columnas del contenedor",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "range",
      "id": "size_grid_quantity_desktop_sm",
      "label": "Cantidad de columnas a utilizar",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "number",
      "id": "gap_grid_desktop_sm",
      "label": "Espaciado entre columns en escritorio pequeño",
      "default": 24 
    },
    {
      "type": "select",
      "id": "align_grid_desktop_sm",
      "label": "Posicion del contenido del grid en escritorio pequeño",
      "options": [
        {
          "label": "Izquierda",
          "value": "left"
        },
        {
          "label": "Centrado",
          "value": "center"
        },
        {
          "label": "Derecha",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "label": "Activar configuración custom de columnas para productos",
      "id": "enable_custom_col_products_large",
      "default": false
    },
    {
        "type": "range",
        "id": "products_slider_large",
        "label": "Cant. de columnas productos",
        "min": 3,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 4
    },
    {
      "type": "header",
      "content": "Tamaño minímo del contenedor",
      "info": "Dejar vacío para activar el valor por defecto"
    },
    {
      "type": "number",
      "id": "min_width_desktop_sm",
      "label": "Ancho minímo para escritorio pequeño",
      "info": "El ancho minímo que establezcas aquí solo sera visible si el contenedor es de tipo 'caja'"
    },
    {
      "type": "radio",
      "id": "width_desktop_sm_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Paddings para escritorio pequeño"
    },
    {
      "type": "radio",
      "id": "padding_desktop_sm_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "number",
      "id": "padding_top_desktop_sm",
      "label": "Padding top"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop_sm",
      "label": "Padding bottom"
    },
    {
      "type": "number",
      "id": "padding_left_desktop_sm",
      "label": "Padding left"
    },
    {
      "type": "number",
      "id": "padding_right_desktop_sm",
      "label": "Padding right"
    },
    {
      "type": "header",
      "content": "Margins para escritorio pequeño"
    },
    {
      "type": "radio",
      "id": "margin_desktop_sm_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top_desktop_sm",
      "label": "Margin top"
    },
    {
      "type": "text",
      "id": "margin_bottom_desktop_sm",
      "label": "Margin bottom"
    },
    {
      "type": "text",
      "id": "margin_left_desktop_sm",
      "label": "Margin left"
    },
    {
      "type": "text",
      "id": "margin_right_desktop_sm",
      "label": "Margin right"
    },
    {
      "type": "header",
      "content": "Configuración portátil",
      "info": "Configuración para vista en portatil, dejar en blanco o vacío para usar valores por defecto"
    },
    {
      "type": "select",
      "id": "type_container_portrait",
      "label": "Tipo de contendor en portátil",
      "options": [
        {
          "value": "full_width",
          "label": "Ancho completo"
        },
        {
          "value": "box",
          "label": "Caja"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_width"
    },{
      "type": "checkbox",
      "id": "grid_custom_portrait",
      "label": "Activar configuraciones custom de grid para portátil",
      "default": false
    },
    {
      "type": "range",
      "id": "size_grid_portrait",
      "label": "Cantidad de columnas del contenedor",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "range",
      "id": "size_grid_quantity_portrait",
      "label": "Cantidad de columnas a utilizar",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "number",
      "id": "gap_grid_portrait",
      "label": "Espaciado entre columns en portátil",
      "default": 24 
    },
    {
      "type": "select",
      "id": "align_grid_portrait",
      "label": "Posicion del contenido del grid en portátil",
      "options": [
        {
          "label": "Izquierda",
          "value": "left"
        },
        {
          "label": "Centrado",
          "value": "center"
        },
        {
          "label": "Derecha",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "label": "Activar configuración custom de columnas para productos",
      "id": "enable_custom_col_products_portrait",
      "default": false
    },
    {
        "type": "range",
        "id": "products_slider_portrait",
        "label": "Cant. de columnas productos",
        "min": 3,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 4
    },
    {
      "type": "header",
      "content": "Tamaño minímo del contenedor"
    },
    {
      "type": "number",
      "id": "min_width_portrait",
      "label": "Ancho minímo para portátil",
      "info": "El ancho minímo que establezcas aquí solo sera visible si el contenedor es de tipo 'caja'"
    },
    {
      "type": "radio",
      "id": "width_portrait_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Paddings para portátil"
    },
    {
      "type": "radio",
      "id": "padding_portrait_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "number",
      "id": "padding_top_portrait",
      "label": "Padding top"
    },
    {
      "type": "number",
      "id": "padding_bottom_portrait",
      "label": "Padding bottom"
    },
    {
      "type": "number",
      "id": "padding_left_portrait",
      "label": "Padding left"
    },
    {
      "type": "number",
      "id": "padding_right_portrait",
      "label": "Padding right"
    },
    {
      "type": "header",
      "content": "Margins para portátil"
    },
    {
      "type": "radio",
      "id": "margin_portrait_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top_portrait",
      "label": "Margin top"
    },
    {
      "type": "text",
      "id": "margin_bottom_portrait",
      "label": "Margin bottom"
    },
    {
      "type": "text",
      "id": "margin_left_portrait",
      "label": "Margin left"
    },
    {
      "type": "text",
      "id": "margin_right_portrait",
      "label": "Margin right"
    },
    {
      "type": "header",
      "content": "Configuración tablet grande",
      "info": "Configuración para vista en tablet grande, dejar en blanco o vacío para usar valores por defecto"
    },
    {
      "type": "select",
      "id": "type_container_tablet_lg",
      "label": "Tipo de contendor en tablet grande",
      "options": [
        {
          "value": "full_width",
          "label": "Ancho completo"
        },
        {
          "value": "box",
          "label": "Caja"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_width"
    },{
      "type": "checkbox",
      "id": "grid_custom_tablet_lg",
      "label": "Activar configuraciones custom de grid en tablet grande",
      "default": false
    },
    {
      "type": "range",
      "id": "size_grid_tablet_lg",
      "label": "Cantidad de columnas del contenedor",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "range",
      "id": "size_grid_quantity_tablet_lg",
      "label": "Cantidad de columnas a utilizar",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "number",
      "id": "gap_grid_tablet_lg",
      "label": "Espaciado entre columns en tablet grande",
      "default": 24 
    },
    {
      "type": "select",
      "id": "align_grid_tablet_lg",
      "label": "Posicion del contenido del grid en tablet grande",
      "options": [
        {
          "label": "Izquierda",
          "value": "left"
        },
        {
          "label": "Centrado",
          "value": "center"
        },
        {
          "label": "Derecha",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "label": "Activar configuración custom de columnas para productos",
      "id": "enable_custom_col_products_tablet_lg",
      "default": false
    },
    {
        "type": "range",
        "id": "products_slider_tablet_lg",
        "label": "Cant. de columnas productos",
        "min": 3,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 4
    },
    {
      "type": "header",
      "content": "Tamaño máximo del contenedor",
      "info": "Dejar vacío para activar el valor por defecto"
    },
    {
      "type": "number",
      "id": "min_width_tablet_lg",
      "label": "Ancho máximo para tablet grande",
      "info": "El ancho máximo que establezcas aquí solo sera visible si el contenedor es de tipo 'caja'"
    },
    {
      "type": "radio",
      "id": "width_tablet_lg_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Paddings para tablet grande"
    },
    {
      "type": "radio",
      "id": "padding_tablet_lg_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "number",
      "id": "padding_top_tablet_lg",
      "label": "Padding top"
    },
    {
      "type": "number",
      "id": "padding_bottom_tablet_lg",
      "label": "Padding bottom"
    },
    {
      "type": "number",
      "id": "padding_left_tablet_lg",
      "label": "Padding left"
    },
    {
      "type": "number",
      "id": "padding_right_tablet_lg",
      "label": "Padding right"
    },
    {
      "type": "header",
      "content": "Margins para tablet grandes"
    },
    {
      "type": "radio",
      "id": "margin_tablet_lg_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top_tablet_lg",
      "label": "Margin top"
    },
    {
      "type": "text",
      "id": "margin_bottom_tablet_lg",
      "label": "Margin bottom"
    },
    {
      "type": "text",
      "id": "margin_left_tablet_lg",
      "label": "Margin left"
    },
    {
      "type": "text",
      "id": "margin_right_tablet_lg",
      "label": "Margin right"
    },
    {
      "type": "header",
      "content": "Configuración tablet pequeña",
      "info": "Configuración para vista en tablet pequeña, dejar en blanco o vacío para usar valores por defecto"
    },
    {
      "type": "select",
      "id": "type_container_tablet_sm",
      "label": "Tipo de contendor en tablet pequeñas",
      "options": [
        {
          "value": "full_width",
          "label": "Ancho completo"
        },
        {
          "value": "box",
          "label": "Caja"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_width"
    },{
      "type": "checkbox",
      "id": "grid_custom_tablet_sm",
      "label": "Activar configuraciones custom de grid para tablet pequeñas",
      "default": false
    },
    {
      "type": "range",
      "id": "size_grid_tablet_sm",
      "label": "Cantidad de columnas del contenedor",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "range",
      "id": "size_grid_quantity_tablet_sm",
      "label": "Cantidad de columnas a utilizar",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "number",
      "id": "gap_grid_tablet_sm",
      "label": "Espaciado entre columns en tablet pequeñas",
      "default": 24 
    },
    {
      "type": "select",
      "id": "align_grid_tablet_sm",
      "label": "Posicion del contenido del grid en tablet pequeñas",
      "options": [
        {
          "label": "Izquierda",
          "value": "left"
        },
        {
          "label": "Centrado",
          "value": "center"
        },
        {
          "label": "Derecha",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "label": "Activar configuración custom de columnas para productos",
      "id": "enable_custom_col_products_tablet_sm",
      "default": false
    },
    {
        "type": "range",
        "id": "products_slider_tablet_sm",
        "label": "Cant. de columnas productos",
        "min": 3,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 4
    },
    {
      "type": "header",
      "content": "Tamaño máximo del contenedor",
      "info": "Dejar vacío para activar el valor por defecto"
    },
    {
      "type": "number",
      "id": "min_width_tablet_sm",
      "label": "Ancho máximo para tablet pequeña",
      "info": "El ancho máximo que establezcas aquí solo sera visible si el contenedor es de tipo 'caja'"
    },
    {
      "type": "radio",
      "id": "width_tablet_sm_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Paddings para tablet pequeña"
    },
    {
      "type": "radio",
      "id": "padding_tablet_sm_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "number",
      "id": "padding_top_tablet_sm",
      "label": "Padding top"
    },
    {
      "type": "number",
      "id": "padding_bottom_tablet_sm",
      "label": "Padding bottom"
    },
    {
      "type": "number",
      "id": "padding_left_tablet_sm",
      "label": "Padding left"
    },
    {
      "type": "number",
      "id": "padding_right_tablet_sm",
      "label": "Padding right"
    },
    {
      "type": "header",
      "content": "Margins para tablet pequeña"
    },
    {
      "type": "radio",
      "id": "margin_tablet_sm_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top_tablet_sm",
      "label": "Margin top"
    },
    {
      "type": "text",
      "id": "margin_bottom_tablet_sm",
      "label": "Margin bottom"
    },
    {
      "type": "text",
      "id": "margin_left_tablet_sm",
      "label": "Margin left"
    },
    {
      "type": "text",
      "id": "margin_right_tablet_sm",
      "label": "Margin right"
    },
    {
      "type": "header",
      "content": "Configuración móvil",
      "info": "Configuración para vista en móviles, dejar en blanco o vacío para usar valores por defecto"
    },
    {
      "type": "select",
      "id": "type_container_mobile",
      "label": "Tipo de contendor en móviles",
      "options": [
        {
          "value": "full_width",
          "label": "Ancho completo"
        },
        {
          "value": "box",
          "label": "Caja"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_width"
    },{
      "type": "checkbox",
      "id": "grid_custom_mobile",
      "label": "Activar configuraciones custom de grid en móviles",
      "default": false
    },
    {
      "type": "range",
      "id": "size_grid_mobile",
      "label": "Cantidad de columnas del contenedor",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "range",
      "id": "size_grid_quantity_mobile",
      "label": "Cantidad de columnas a utilizar",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 12
    },
    {
      "type": "number",
      "id": "gap_grid_mobile",
      "label": "Espaciado entre columns en móviles",
      "default": 24 
    },
    {
      "type": "select",
      "id": "align_grid_mobile",
      "label": "Posicion del contenido del grid en móviles",
      "options": [
        {
          "label": "Izquierda",
          "value": "left"
        },
        {
          "label": "Centrado",
          "value": "center"
        },
        {
          "label": "Derecha",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "label": "Activar configuración custom de columnas para productos",
      "id": "enable_custom_col_products_mobile",
      "default": false
    },
    {
        "type": "range",
        "id": "products_slider_mobile",
        "label": "Cant. de columnas productos",
        "min": 3,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 4
    },
    {
      "type": "header",
      "content": "Tamaño máximo del contenedor",
      "info": "Dejar vacío para activar el valor por defecto"
    },
    {
      "type": "number",
      "id": "min_width_mobile",
      "label": "Ancho máximo para móviles",
      "info": "El ancho máximo que establezcas aquí solo sera visible si el contenedor es de tipo 'caja'"
    },
    {
      "type": "radio",
      "id": "width_mobile_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Paddings para móviles"
    },
    {
      "type": "radio",
      "id": "padding_mobile_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom"
    },
    {
      "type": "number",
      "id": "padding_left_mobile",
      "label": "Padding left"
    },
    {
      "type": "number",
      "id": "padding_right_mobile",
      "label": "Padding right"
    },
    {
      "type": "header",
      "content": "Margins para móviles"
    },
    {
      "type": "radio",
      "id": "margin_mobile_unit_type",
      "label": "Tipo de unidad",
      "options": [
        {
          "label": "Píxeles",
          "value": "px"
        },
        {
          "label": "Porcentaje",
          "value": "%"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top_mobile",
      "label": "Margin top"
    },
    {
      "type": "text",
      "id": "margin_bottom_mobile",
      "label": "Margin bottom"
    },
    {
      "type": "text",
      "id": "margin_left_mobile",
      "label": "Margin left"
    },
    {
      "type": "text",
      "id": "margin_right_mobile",
      "label": "Margin right"
    },
    {
      "type": "header",
      "content": "Color de fondo"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Color de fondo",
      "default": "transparent"
    },

    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show \"View all\" link",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "carousel_on_mobile",
          "label": "Carousel on mobile"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "card_size_mobile",
      "label": "Product card size on mobile",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "card_size",
      "label": "Product card size on large screens",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Maximum products to show",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_highlight_products",
      "label": "Show highlight products",
      "info": "To highlight a particular product card, add a \"True or false\" product metafield with the namespace and key \"theme.highlight\". See more settings in Theme Settings > Product cards > Highlighted cards.",
      "default": true
    },
    {
      "type": "header",
      "content": "Promotion card"
    },
    {
      "type": "checkbox",
      "id": "show_promo_info",
      "label": "Show promotion",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image aspect ratio",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "1.77",
          "label": "Landscape"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "0.75",
          "label": "Portrait"
        }
      ],
      "default": "fill"
    },
    {
      "type": "text",
      "id": "promo_title",
      "label": "Title",
      "default": "A headline to grab attention"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>Use this card with an image to highlight your collections or introduce a promotion.</p>",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "URL"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Button",
      "info": "The button will link to the URL specified above."
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Promotion card color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Promotion card button",
      "options": [
        {
          "value": "link",
          "label": "Link"
        },
        {
          "value": "btn btn--primary",
          "label": "Primary button"
        },
        {
          "value": "btn btn--secondary",
          "label": "Secondary button"
        }
      ],
      "default": "btn btn--primary"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "footer", "aside"]
  }
}
{% endschema %}
